.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: gold;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}
